/* Resume File */
.download {
  text-align: right;
  padding: 0px 20px;
}

/* Front Page */
.professionalImg {
  max-width: 100%;   
}

/* Nav Bar */
.routerLinks {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.routerLabel {
  text-align: center;
  padding: 0px 10px;
}

/* Education */
.header {
  text-align: center;
}

/* Used in call views */
.shiftRight {
  margin-left: 60px;
}
