/* Resume File */
.downloadSection {
  text-align: right;
  padding: 0px 20px;
  height: 80px;
  background-color: #838891 !important;
}

.v-toolbar__content { /* This surrounds the text and icon */
  height: 100% !important;
}

.v-toolbar-title__placeholder {
  font-size: 25px;
}

.downloadIcon {
  height: 40px;
  width: 40px;
}

/* Front Page */
.professionalImg {
  max-width: 100%;   
}

/* Nav Bar */
.routerLinks {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.routerLabel {
  text-align: center;
  padding: 0px 10px;
}

/* Education */
.header {
  text-align: center;
}

/* Used in call views */
.shiftRight {
  margin-left: 60px;
}
